<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>WordGame</title>
</head>
<body>
<div id="app"></div>
<audio id="tick">
  <source src="././sounds/tickA.wav">
</audio>
<audio id="chime">
  <source src="././sounds/chime.wav">
</audio>
<audio id="wrong">
  <source src="././sounds/wrong.mp3">
</audio>
<audio id="end">
  <source src="././sounds/end.mp3">
</audio>
</body>
</html>
